@media screen and (max-width: 768px) {
    body {
        background-image: url('../img/bgresp.jpeg');
    }

    main h1{
        margin-left: 20px;
        font-size: 35px;
        text-shadow:7px 7px 2px #a19c8d;
    }
    
    #copyright {
        margin: 5px;
    }

    .borderlogo {
        font-size: 14px;
        border-left: #444239 solid 4px;
        border-right: #444239 solid 4px;
    }

    .borderlogo div {
        padding-top: 8px;
    }

    #navheader {
        display: none;
    }

    .burger {
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    .burger label{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 50px;
        color:#444239;
        cursor: pointer;
        height: 60px;
        padding-bottom: 5px;
    }
    .burger p{
        font-size: 25px;
        height: 60px;
        padding-top: 9px;
    }

    .rotate-transition {
        transition: transform 0.5s ease-in-out;
    }
    .flipinx{
        animation:flipinx 0.6s ease 0s 1 normal;
    }
    #gridProjects{
        padding: 12px;
        grid-template-columns: repeat(1,1fr);
        grid-gap: 12px;
     
      }
      .onlybox{
        width: auto;
      }

    #lobby{
        display: block;
        margin: 0px;
    }
    #lobby div {
      display: flex;
    }
    #lobby div img{
        width: 320px;
        margin: auto;
    }
    #lobby article h1{
        font-size: 30px;
        margin: 0;
    }
    #lobby article{
        padding-top: 20px;
        padding-left: 9px;
    }
    #lobby article h2{
        font-size: 25px;
        margin: 0;
        padding-left: 0px;
    }
    #lobby article h3{
        font-size: 20px;
        margin: 0;
        padding-left: 0px;
    }

    #displayprojects{
        display: block; 
    }
    .list {
        margin: 10px;
        max-width: 100%;
    }
    #projectimg{
        max-width: 95%;
        margin: 5px;
    }
    #projectInformation{
        margin: 5px;
    }

    #contactForm{
        width: 95%;
        margin: auto;
     }
     #contactInfo{
        display: block;
        
    }

    #about{
        width: 95vw;
        margin: 10px;
     }

     #about p{
        margin:  20px 20px;
     }
     textarea{
        width: 360px;
     }
     .custom-icon {
        font-size: 100px; /* Taille de la police */
        line-height: 100px; /* Hauteur de ligne */
      }
      .iconContainer:nth-child(1) {
        transform:  rotateY(0deg) translateZ(200px);
      }
      .iconContainer:nth-child(2) {
        transform:  rotateY(40deg) translateZ(200px);
        
      }
      .iconContainer:nth-child(3) {
        transform:  rotateY(80deg) translateZ(200px);
      }
      .iconContainer:nth-child(4) {
        transform: rotateY(120deg) translateZ(200px);
      }
      .iconContainer:nth-child(5) {
        transform:  rotateY(160deg) translateZ(200px);
      }
      .iconContainer:nth-child(6) {
        transform:  rotateY(200deg) translateZ(200px);
      }
      .iconContainer:nth-child(7) {
        transform: rotateY(240deg) translateZ(200px);
      }
      .iconContainer:nth-child(8) {
        transform: rotateY(280deg) translateZ(200px);
        width: 100px;
      }
      .iconContainer:nth-child(9) {
        transform: rotateY(320deg) translateZ(200px);
       
       
      }
}

@keyframes flipinx {
    0%{ opacity: 0; transform: perspective(400px) rotateX(90deg); }
    40%{ transform: perspective(400px) rotateX(-10deg); }
    70%{ transform: perspective(400px) rotateX(10deg); }
    100%{ opacity: 1; transform: perspective(400px) rotateX(0deg); }
    }