@font-face {
    font-family: rodin;
    src: url('../fonts/rodin.otf');
}
@font-face {
    font-family: rodinbold;
    src: url('../fonts/rodindb.otf');
}
@font-face {
    font-family: rodinthin;
    src: url('../fonts/rodinlight.otf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: rodin;
    text-decoration: none;
    color: #444239;
    list-style: none;
    
}
@keyframes blur {
    0% {
       filter: blur(3px);
    }
    50%{
        filter: blur(1px)
    }
    100% {
        filter: blur(px);
    }
  }
  @keyframes flipiny {
    0%{ opacity: 0; transform: perspective(400px) rotateY(90deg); }
   
    100%{ opacity: 1; transform: perspective(400px) rotateY(0deg); }
    }

.mesh {
    background-image: url('../img/mesh.001.png');
    position: relative;
    pointer-events: none;
}

body {
    background-image: url('../img/bgimg.001.jpeg');
    background-size: cover;
   
}

.containerbody {
    min-width: 100vw;
    min-height: 100vh;
    background-color: #cac5afe0;
    background-size: cover;
    position: absolute;
    animation: flipiny 500ms ease  1 normal forwards; 
}

.containerCenter {
    width: 400px;
    margin: auto;
}

.card {
    background: #d6d0b8;
    box-shadow: 2px 2px 2px 2px #a09e89;
    border-radius: 1px;
    padding-bottom: 1px;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.card > * {
    margin-bottom: 20px;
    padding:0px 20px;
    
}
.card_header{
    color: #d7d1b8;
    background-color: #48463de0;
    padding:0px 20px;
}
/***************** inputs ************************************************************************************************************************/
.form__group {
    position: relative;
    padding: 24px 20px 0;
    margin-top: 10px;
}

.form__field {
    width: 100%;
    border: 0;
    border-bottom: 2px solid #656254;
    outline: 0;
    font-size: 1.3rem;
    color: #4f4c41;
    padding: 3px 0;
    background: transparent;
    transition: border-color 0.2s;
    height: 33px;
    font-family: rodinbold;
}

.form__field::placeholder {
    color: transparent;
}

.form__field:placeholder-shown+.form__label,
.form__field:focus+.form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
}

.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #656254;
    
}

.form__field:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    background-color: #b0ab96de;
    
}

.form__field:focus+.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    font-family: rodinthin;
}

/***************************************************************************************************************************/
/***boutons*/

.button{
    color: #d7d1b8;
    background-color: #48463de0;
    font-size: 13px;
    border-radius: 1px;
    padding: 2px 13px;
    letter-spacing: 4px;
    cursor: pointer;
    transition: 500ms;
    width: 115px;
    
}
.button:hover {
    color: #48463d;
    background-color: #d7d1b9;
}
.button_container{
    display: flex;
    justify-content: center;
    flex: 1;
}

.button_wrapper{
    border-top: solid #48463de0 3px;
    border-bottom: solid #48463de0 3px;
    padding: 4px 0px ;
    display: flex;
    justify-content: center;
    animation: fade-in ease 500ms 1 normal forwards; 
}

.button_wrapper:hover{
    animation: fade-out ease 500ms 1 normal forwards; 
    
}
@keyframes fade-out {
    0% {
        width: 115px;
    }
    100% {
        width: 0px;
    }
  }
  @keyframes fade-in {
    0% {
        width: 0px;
    }
    100% {
        width: 115px;
    }
  }

.btn-bar{
    display: flex;
}
/****footer******************************************************************************************************/
 
footer{
    text-align: center;
    margin: 20px 0px;
  }

  footer ul{
    display: flex;
    justify-content: space-around;
    margin: 20px 0px;
   
  }
  footer ul li{
    flex: 1;
  }

.bordertop{
    border-top: 3px solid #444239 ;
    display: flex;
    justify-content: space-around;
    margin-bottom: 15px;
}
.borderlogo{
    border-left: #444239 solid 6px;
    border-right: #444239 solid 6px;
    height: 6px;
    flex: 1;
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    

}
.borderlogo div{
    padding-top: 16px;
    font-family: rodinbold;
}

/***************HEADER ************************************************************************************/

#navheader{
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}
.liheader{
    margin-bottom: 11px;
    background-color: #a7a28e91;
    display: flex;
    align-items: center;
    height: 30px;
}
.liheader:hover{
    background-color:#48463de0;
    transition: 300ms ease-in;
}

.menutitle{
    font-size: 20px; 
    margin-right: 4px ;  
}
.liheader:hover .menutitle{
      color: #cac5afe0;
      transition: 300ms ease-in;
}
.pictogram{
    color: #b3ae9a;
    background-color: #48463de0;
    font-size: 20px;
    margin-right: 5px;
    margin: 4px;
    height: 22px;
    width: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.liheader:hover .pictogram{
    color: #48463de0;
    background-color: #cac5af;
    transition: 300ms ease-in;
}
.burger{
    display: none;
}

.target{
    margin-bottom: 0px;
    height: 45px;
    background-color: #48463de0;
}
.target .menutitle{
    color: #cac5afe0;
}
.target .pictogram{
    color: #48463de0;
    background-color: #cac5af;
}



#gridProjects{
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;

  }


.onlybox{
    margin: 0px 30px;
  }
.card div img{
    margin: auto;
    max-width: 100%;
}
.imgContainer{
    margin-top: 15px;
}

main h1{
    margin-left: 40px;
    font-size: 50px;
    text-shadow:8px 8px 2px #a19c8d;
    letter-spacing: 8px;
    text-transform: uppercase;
}
.actionbutton{
    display: flex;
}
.actionbutton a{
    margin: auto;
    font-size: 16px;
    background: #cac5af;
    box-shadow: 2px 2px 2px 2px #a09e89;
    color: #005B47;
    padding: 5px;
    font-family: rodinbold;
}


/***********page projets******************************************************/

#displayprojects{
    display: flex;
}

.list {
    border-left: solid 10px #a7a28e91;
    margin: 20px;
    flex: 1;
    max-width: 30%;
}
.listwraper{
    border-left: solid 3px #a7a28e91;
    padding:0px 20px;
    margin-left: 5px;
}

.projects{
    background-color:#a7a28e91;
    padding: 0px 8px;
    
}

.projects:hover{
    background-color: #48463de0;
    color: #cac5af ;
}
.projects:focus{
    background-color: #48463de0;
    color: #cac5af ;
}

.projectswrapper{
    border: transparent 3px;
    padding: 3px 0px;
}

.projectswrapper:hover{
    border-top: solid 3px  #48463de0;
    border-bottom: solid 3px  #48463de0;
}
#projectimg{
    width: 500px;
    flex: 1;
    margin-top: 20px;
}
#projectInformation{
    flex: 1;
    margin: 20px;
    display: none;
}
#projectInformation p{
    border-bottom: solid 3px #a7a28e91;
    padding: 0;
    margin: 20px;
}

/***********************ACCUEIL**********************************/
#lobby{
    display: flex;
    margin: 100px;
}
#lobby div img{
    opacity: 0.7;
}
#lobby article h1{
    font-size: 70px;
    margin: 0;
}
#lobby article{
    padding-top: 100px;
    padding-left: 30px;
}
#lobby article h2{
    font-size: 40px;
    margin: 0;
    padding-left: 50px;
}
#lobby article h3{
    font-size: 25px;
    margin: 0;
    padding-left: 50px;
}

#contactForm{
   width: 80%;
   margin: auto;
}
textarea{
    margin-top: 10px;
    width: 100%;
    height: 200px;
    background-color: #e4dfc8 ;
    border: solid #48463de0 2px ;
    border-radius: 2px;
    font-size: 16px;
}
#contactInfo{
    display: flex;
    justify-content: space-around;
}
.card a{
    display: flex;
}
a img{
    max-height: 400px;
    margin: auto ;
}
#contactInfo .card{
    margin: 30px;
}
#contactInfo .card *{
    border-bottom: solid 3px #a7a28e91;
}