 <div class="bordertop">
    <div class="borderlogo"><div>※</div></div>
    <div class="borderlogo"><div>※</div></div>
    <div class="borderlogo"><div>※</div></div>
    <div class="borderlogo"><div>※</div></div>
    <div class="borderlogo"><div>※</div></div>
    <div class="borderlogo"><div>※</div></div>
    <div class="borderlogo"><div>※</div></div>
</div>