<footer id="" class="" role="contentinfo">
   {% include "./_border.twig" %}
	<div class="">
		<p id="copyright">© Copyright 2023 - Rémy Streichemberger. Tous droits réservés.</p>
		<ul>
			<li><a href="">Plan du site</a></li>
			<li><a href="">Mentions légales</a></li>
			<li><a href="">Politique de confidentialité</a></li>
		</ul>
	</div>

</footer>
