<div class="globe">
	<div class="iconContainer">
		<i class="fa-brands fa-node-js custom-icon" style="color: #48463d;"></i>
		<span class="icon-text">Node.js</span>
	</div>
	<div class="iconContainer">
		<i class="fa-brands fa-php custom-icon" style="color: #48463d;"></i>
		<span class="icon-text">PHP</span>
	</div>
	<div class="iconContainer">
		<i class="fa-brands fa-html5 custom-icon" style="color: #48463d;"></i>
		<span class="icon-text">HTML5</span>
	</div>
	<div class="iconContainer">
		<i class="fa-brands fa-css3-alt custom-icon" style="color: #48463d;"></i>
		<span class="icon-text">CSS3</span>
	</div>
	<div class="iconContainer">
		<i class="fa-brands fa-js custom-icon" style="color: #48463d;"></i>
		<span class="icon-text">Javascript</span>
	</div>
	<div class="iconContainer">
		<i class="fa-brands fa-bootstrap custom-icon" style="color: #48463d;"></i>
		<span class="icon-text">Bootstrap 5</span>
	</div>
	<div class="iconContainer">
		<i class="fa-brands fa-github custom-icon" style="color: #48463d;"></i>
		<span class="icon-text">Git</span>
	</div>
	<div id="opacity"></div>
</div>
