<div class="list">
    <div class="listwraper">
        {% for project in projects %}
            <div class="projectswrapper">
                <a href="#projectInformation"><h3 class="projects"  onclick='displayproject({{ project | json_encode()}})'> ❖ {{project.name}}</h3>
                </a>
            </div>
        {% endfor %}
    </div>
</div>