<div class="containerCenter">
	<form action="/user/login" method="post" class="card">
		<h2 class="card_header">Login</h2>
		<div class="form__group">
			<input type="text" name="mail" id="mail" class="form__field" placeholder="email" required>
			<label for="mail" class="form__label">Email</label>
		</div>
		<div class="form__group">
			<input type="password" name="password" id="password" class="form__field" placeholder="password" required>
			<label class="form__label" for="password">Password</label>
		</div>
		<div class="button_container">
			<div class="button_wrapper">
				<button class="button" type="submit">Valider</button>
			</div>
		</div>
	</form>
</div>
