<div id="imgcontainer">
<img id="projectimg" src="" alt="">
</div>
<div id="projectInformation" class="card">
    <h2 class="card_header">Informations</h2>
    <a href="" id="projectUrl" target="_blank"></a>
    <a href="" id="projectGit" target="_blank"></a>
    <p id="projectDescription"></p>
    
</div>
