<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="google-site-verification" content="vlxCMSXv2miyb2UA5zzmaLjt341iXiHdlAU_wJF_pIw" />
		<meta name="robots" content="all">
		<meta name="author" content="RÉMY STREICHEMBERGER">
		<link rel="icon" type="image/png" href="img/logomoi.png" />
		<meta name="description" content="Je suis Rémy Streichemberger, développeur web et mobile sur le secteur aix en provence / Marseille. J'ai réalisé ce portfolio dans le but de vous présenter mes compétences en javascript, nodejs, PHP, HTML  / CSS, pour trouver un emploi en alternance. ">
		<meta name="Keywords" content="portfolio, streichemberger, developpeur, web, Javascript, PHP, Node.Js, aix en provence, Marseille, Informatique, Aubagne, Ri7">
		{% block title %}{% endblock %}
		
		<script src="https://kit.fontawesome.com/463c3f4f8a.js" crossorigin="anonymous"></script>
		{% block link %}
			<link rel="stylesheet" href="/css/style.css">
			<link rel="stylesheet" href="/css/responsive.css">
		{% endblock %}
	</head>
	<body>
		<div class="containerbody">
			{% block header %} {% include "./layouts/_header.twig" %} {% endblock %}
			<main>
				{% include "./layouts/_border.twig" %}
				{% block main %}{% endblock %}
			</main>
			
			{% block footer %} {% include "./layouts/_footer.twig" %} {% endblock %}
		</div>
		<div class="mesh"></div>
		
		{% block script %} <script src="/js/script.js"></script> {% endblock %}
	</body>
</html>
