{% extends "../../base.twig" %}


{% block main %}
<h1>DASHBOARD</h1>
<a href="/addProject">Ajouter un nouveau projet</a>
    <div id="gridProjects">
	{% for project in projects %}
		
			{% include "../../layouts/_displayProject.twig" %}
		
	{% endfor %}
</div>
{% endblock %}
