{% extends "../../base.twig" %}


{% block main %}
    <div id="gridProjects">
	{% for project in projects %}
		
			{% include "../../layouts/_displayProject.twig" %}
		
	{% endfor %}
</div>
{% endblock %}
