{% extends "../../base.twig" %}
{% block title %}
<title>Portfolio Rémy Streichemberger-A propos</title>
{% endblock %}
{% block main %}
	<h1>à propos</h1>
    <article id="about">
        <h2>❖ Mon parcours</h2>
        <p>Je suis un ancien chef de cuisine avec plus de 10 ans d'expérience qui s'est récemment lancé dans le développement web motivé par mon intérêt croissant pour la technologie et ma volonté de relever de nouveaux défis.</p>
        <p>Mon parcours dans la cuisine m'a permis de développer des compétences précieuses en gestion du temps, en travail d'équipe et en créativité. J'ai appris à gérer des équipes, à respecter des délais serrés et à m'adapter rapidement aux changements, ainsi que  l'importance de la communication efficace et de la collaboration. Je suis capable de travailler en étroite collaboration avec les concepteurs, les développeurs et les clients pour comprendre leurs besoins et leurs attentes, et traduire ces exigences en solutions techniques concrètes.</p>
        <p> Après avoir suivi une formation à l'école Ri7, j'ai acquis des compétences approfondies en HTML, CSS, JavaScript, PHP et Node.js. J'ai également acquis une solide compréhension des principes de conception web, de l'optimisation des performances et de l'accessibilité. Je suis passionné par la création d'expériences utilisateur fluides et intuitives, en veillant à ce que chaque site que je développe soit à la fois fonctionnel et esthétiquement agréable.
        Je suis à la recherche de nouvelles opportunités dans le développement web où je peux mettre à profit mes compétences techniques et ma créativité au service du développement web.</p>
    </article>
   
    <div class="card" id="competences">
        <h2 class="card_header">Compétences techniques</h2>
        <div id="globecontainer">
		    {% include "../../layouts/_globe.twig" %}
	    </div>
    </div>
	
{% endblock %}
