{% extends "../../base.twig" %}
{% block title %}
	<title>Portfolio Rémy Streichemberger</title>
	<link rel="canonical" href="https://remystreich.fr"/>
	<meta name="description" content="Je suis Rémy Streichemberger, développeur web et mobile sur le secteur aix en provence / Marseille. J'ai réalisé ce portfolio dans le but de vous présenter mes compétences en javascript, nodejs, PHP, HTML  / CSS, pour trouver un emploi en alternance. ">

{% endblock %}
{% block main %}
	<div id="lobby">
		<div>
			<img src="/img/logomoi.png" alt="">
		</div>
		<article>
			<h1>Rémy Streichemberger</h1>
			<h2>Développeur web Junior
			</h2>
			<h3>À la recherche d'une alternance</h3>
		</article>
	</div>
{% endblock %}
