{% extends "../../base.twig" %}
{% block title %}
<title>Portfolio Rémy Streichemberger</title>
<link rel="canonical" href="https://remystreich.fr" />
{% endblock %}
{% block main %}
   <div id="lobby">
        <div>
             <img src="/img/logomoi.png" alt="">
        </div>
        <article>
            <h1>Rémy Streichemberger</h1>
            <h2>Développeur web Junior </h2>
            <h3>À la recherche d'une alternance</h3>
        </article>
   </div>
{% endblock %}