{% extends "../../base.twig" %}
{% block title %}
<title>Liste des projets</title>
<link rel="canonical" href="https://remystreich.fr/projects" />
	<meta name="description" content="Je suis Rémy Streichemberger, développeur web et mobile sur le secteur aix en provence / Marseille. J'ai réalisé ce portfolio dans le but de vous présenter mes compétences en javascript, nodejs, PHP, HTML  / CSS, pour trouver un emploi en alternance. Voici une liste de mes réalisations. ">

{% endblock %}
{% block main %}
	<h1>Mes projets</h1>
	<div class="sortSelector">
		<label for="sortOrder">Trier par :</label>
		<select id="sortOrder" name="sortOrder" onchange="sortOrder(this)">
			<option value="desc" {% if sortOrder == 'desc' %} selected {% endif %}>Date décroissante</option>
			<option value="asc" {% if sortOrder == 'asc' %} selected {% endif %}>Date croissante</option>
		</select>
	</div>
	<div id="displayprojects">
		{% include "../../layouts/_listProjects.twig" %}
		{% include "../../layouts/_projectdetail.twig" %}
	</div>

{% endblock %}
