{% extends "../../base.twig" %}

{% block main %}
    <h1>Mes projets</h1>
    
    <div id="displayprojects">
        {% include "../../layouts/_listProjects.twig" %}   
        {% include "../../layouts/_projectdetail.twig" %}
    </div>

{% endblock %}
